html,
body {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #008080;
    padding: 30px;
}

span {
    font-size: 27px;
    text-align: center;
}

img {
    margin: 20px;
    width: 240px;
    border-radius: 20px;
}

h1 {
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}


.divHeader {
    background: #008B8B;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 250px;
}

.divDescricao {
    margin: 5px 20px 5px 20px;
    width: 240px;
}

.pDescricao {
    margin: auto;
    text-align: center;
    width: 200px;
    font-size: 13px;
    color: #808080;
    margin-bottom: 6px;
}

.pValor {
    margin: auto;
    text-align: center;
    width: 200px;
    font-size: 30px;
    color: #000000;
    margin-bottom: 6px;
}

.divMidia {
    display: flex;
    background: #DCDCDC;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin: 10px 10px 5px 30px;
    width: 200px;
}

.btnmidia1 {
    width: 185px;
    height: 30px;
    background-color: #A9A9A9;
    color: #363636;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}

.btnmidia2 {
    width: 185px;
    height: 30px;
    background-color: #A9A9A9;
    color: #363636;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}

.btnmidia1:hover {
    background-color: #C0C0C0;
}

.btnmidia2:hover {
    background-color: #C0C0C0;
}

.btnMidiaSelec {
    background-color: #C0C0C0
}

.buttonAdd {
    width: 240px;
    height: 30px;
    background-color: #1C1C1C;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 20px 0px 5px 20px;
}

.buttonAdd:hover {
    background-color: #808080;
}

.buttonAdd:active {
    background-color: #000000;
}